html, body {
  background-color: #E6F9FA;
  font-family: "Helvetica";
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.list {
  text-align: center;
  font-size: 18px;
}

.list > ul {
  display: inline-block;
}

img {
  display: block;
  margin: auto;
  width: 25%;
}
