html, body {
  background-color: #E6F9FA;
  font-family: "Helvetica";
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

ul {
  display: inline-block;
  }
  li {
    text-align: center;
    font-size: 18px;
  }
    
img {
  display: block;
  margin: auto;
  width: 20%;
}
