html, body {
  font-family: "Helvetica";
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

ul li {
  text-align: left;
  font-size: 16px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover:not(.current) {
  text-decoration: underline;
}

#navbar .current {
  text-decoration: underline;
}

#homepic {
  float: left;
  width: 30%;
  height: 30%;
  margin: 20px 0 0 20%;
}

#hometext{
  margin: 20px 20px 0 0;
}

/**start of bio.html css*/

#cheer {
  width: 30%;
  height: 30%;
  margin: 0 0 0 0;
}

#biotext{
  text-align: center;
}

#handstand{
  width: 30%;
  height: 30%;
}
